{% extends 'base.html.twig' %}

{% block title "Nouvelle recette" %}

{% block body %}
    <h1 class="text-uppercase">
        Créer une recette
    </h1>
    <p>
        {{ form(form) }}
    </p>
{% endblock %}
