{% extends 'base.html.twig' %}

{% block title "Recette : " ~ recipe.title %}

{% block body %}
    <h1 class="text-uppercase">
        Editer la recette
    </h1>
    <p>
        {{ form(form) }}
    </p>
{% endblock %}
